@{
    ViewData["Title"] = "Inicio";
}
<h2>Examen David Fodor .NET</h2>
<p>
    <a asp-controller="Equipo" asp-action="Index">Ver listado de Equipos (Ejercicio 1 y 2)</a> |
    <a asp-controller="Pais" asp-action="Index">Ver listado de Países (Ejercicio 3)</a>
</p>
